<h1>L33tzp3ak</h1>
<form action="/title">
  <div class="form-group">
     <label for="title">Enter a word or phrase to see its leetspeak cousin
     </label>
     <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
